@{

}

    @foreach(var person in (List<Person>)ViewData["persons"])
    {
        <hr />
        <h3> Name : @person.Name</h3>
        <h3> Roll No : @person.RollNumber</h3>
        <h3> Marks : @person.Marks</h3>
    }

    <hr />
    <hr />

    @foreach(var person in ViewBag.Persons)
    {
        <hr />
        <h3> Name : @person.Name</h3>
        <h3> Roll No : @person.RollNumber</h3>
        <h3> Marks : @person.Marks</h3>
    }
